html {
    scroll-behavior: smooth;
}

body {
    height: 10000px;
    background: linear-gradient(55deg, #05fded 0%, #93db1f 51%, #642ce8 85%);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hei1 {
    height: 9500px;
    top: 0;
}

#hei2 {
    height: 500px;
    position: absolute;
    bottom: 0;
}