html {
    scroll-behavior: smooth;
}

body {
    height: 6000px;
    background: linear-gradient(55deg, #05fded 0%, #93db1f 51%, #642ce8 85%);
}

.hei1 {
    display: flex;
    top: 0;
    margin: auto;
    position: absolute;
}

.hei2 {
    display: flex;
    position: fixed;
    margin: auto;
    bottom: 0;
}