html {
    scroll-behavior: smooth;
}

body {
    height: 3000px;
    background: linear-gradient(55deg, #05fded 0%, #93db1f 51%, #642ce8 85%);
}

.hei1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hei2 {
    left: 0;
    right: 0;
    bottom: 0;
}