html {
    scroll-behavior: smooth;
}

body {
    height: 20000px;
    background: linear-gradient(55deg, #05fded 0%, #93db1f 51%, #642ce8 85%);
}

#hei1 {
    height: 49%;
}

#fun {
    height: 1%;
}

#space {
    height: 49%;
}

#hei2 {
    height: 1%;
}