html {
    scroll-behavior: smooth;
}

body {
    height: 10000px;
    background: linear-gradient(55deg, #05fded 0%, #93db1f 51%, #642ce8 85%);
}

.hei1 {
    display: flex;
    height: 9500px;
    top: 0;
    left: 0;
    right: 0;
}

.hei2 {
    display: flex;
    position: static;
    height: 500px;
    left: 0;
    right: 0;
    bottom: 0;
}