html {
    scroll-behavior: smooth;
}

body {
    height: 15000px;
    background: linear-gradient(55deg, #05fded 0%, #93db1f 51%, #642ce8 85%);
}

.main {
}

#hei1 {
    height: 14500px;
}

#fun {
    
}

#hei2 {
    
    height: 500px;
}